* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  background: #947198;
  background: -webkit-linear-gradient(top left, #947198, #c48ec7);
  background: -moz-linear-gradient(top left, #947198, #c48ec7);
  background: linear-gradient(to bottom right, #947198, #c48ec7);
  height: 100%;
  width: 100%;
}
